@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

:root {
    --font-heading: 'Passion One', cursive;
    --font-poem: 'Sriracha', cursive;
}

* {
    padding: 0px;
    margin: 0px;
}

html, body {
    min-height: 100vw;
    background-color: darkgray;
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    font-family: var(--font-heading);
    font-variant: small-caps;
    font-size: 7vw;
    padding-top: 50px;
}

header > p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.9em;
    font-weight: normal;
    text-align: center;
    padding-bottom: 50px;
}

header a, footer a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

header a:hover, footer a:hover {
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    line-height: 2em;
}

section.normal {
    background-color: white;
    color: black;
}

section.image {
    background-color: rgb(38, 38, 38);
    color: white;
}

section.image > p { /* a todos los párrafos que estén dentro de las secciones .image se les aplicará la configuración de estilo que sigue */
    background-color: rgba(0, 0, 0, 0.3);
    width: 400px;
}

/*section#img01 {
    background-image: url('../imagens/background001.jpg');
    background-repeat: no-repeat;
    background-position: right center;
    background-size: cover;
    background-attachment: fixed;
}

section#img02 {
    background-image: url('../imagens/background002.jpg');
    background-repeat: no-repeat;
    background-position: right center;
    background-size: cover;
    background-attachment: fixed;
} */

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}